.my-dropdown:hover ul{
    display: block;
}

#slider img{
    height: 450px;
}

.card img{
    height: 150px !important;
}

.c-sec .card{
    margin-bottom: 10px;
}

#myAccordion p{
    padding-left: 10px;
}

